.Titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
    
}
.jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
    
}
